// ======================================================
// Layout :: Header
// ======================================================

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: #21252b;
  z-index: 9999;
  color: #949494;

  @include flexbox();

  @include flex-direction(column);

  @include justify-content(center);

  .btn-signup {
    padding: 8px 16px;
    margin-left: 20px;
    text-transform: uppercase;
  }

  .hamburger-icon {
    display: inline-block;

    &__bar-1,
    &__bar-2,
    &__bar-3 {
      width: 35px;
      height: 5px;
      background-color: #949494;
      margin: 6px 0;
      transition: .4s;
    }
  }

  .toggled {
    .hamburger-icon {
      &__bar-1 {
        transform: rotate(-45deg) translate(-9px, 7px);
      }
      &__bar-2 {
        opacity: 0;
      }
      &__bar-3 {
        transform: rotate(45deg) translate(-8px, -7px);
      }
    }
  }
}
