// ======================================================
// Abstracts :: Variables
// ======================================================

$header-height: 76px;

$btn-primary-color: #949494;
$btn-primary-bg-color: transparent;
$btn-primary-bg-color-hover: #f3f2f5;
$btn-primary-border-color: $btn-primary-color;
$btn-primary-border-color-hover: $btn-primary-color;

$link-color: #007bff;
$link-color-hover: #0056b3;

$tab-link-bg-color: #282c35;
$tab-link-bg-color-active: lighten($tab-link-bg-color, 5%);
$tab-link-color: #f3ba15;
$tab-link-color-active: lighten($tab-link-color, 20%);
