.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
}

.btn--primary {
  color: $btn-primary-color;
  background-color: $btn-primary-bg-color;
  border-color: $btn-primary-border-color;
  transition: all .25s ease;
}

.btn--primary:hover,
.btn--primary:focus,
.btn--primary:active,
.btn--primary.active {
  color: $btn-primary-color;
  background-color: $btn-primary-bg-color-hover;
  border-color: $btn-primary-border-color-hover;
}

.btn--primary.disabled,
.btn--primary[disabled] {
  background-color: $btn-primary-bg-color;
  border-color: $btn-primary-border-color-hover;
}
